svg text {
            font-family: "Open Sans", sans-serif;
            font-size: 14px;
            font-weight: 800;
        }
        .node rect {
          cursor: move;
          fill-opacity: .9;
          shape-rendering: crispEdges;
        }
        .node text {
          pointer-events: none;
          /*text-shadow: 0 1px 0 #fff;*/
          font-family: "Open Sans", sans-serif;
          font-size: 13px;
          font-weight: 200;
        }
        .link {
          fill: none;
          stroke: #000;
          stroke-opacity: .3;
        }
        .link.text {
            visibility:hidden;
        }
        .link:hover {
          stroke-opacity: .75;
        }
        #hover_description {
            position:absolute;
            opacity:0;
            padding:8px;
            background-color:#dfdfdf;
            visibility:hidden;
            /*-webkit-transition:visibility 0s 0.1s,opacity 0.1s;*/
            transition:visibility 0s 0.1s,opacity 0.1s;
            font-size:14px;
        }
        #hover_description.show {
            visibility:visible;
            opacity:0.85;   
            /*-webkit-transition-delay:0s;*/
            transition-delay:0s;
        }
        .node.highlight text, .node.hover text {
            font-size:15px;
        }
        .node.highlight rect, .node.hover rect {
            stroke-width:2px;
        }
        select {
            
        }